.table {
  margin-top: 5px;
  overflow: scroll;
  color: #6a5d5d;
  background-color: rgb(54, 50, 50);
  height: 20rem;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}