$color-black: #000;
$color-gray: #525352;
$color-dark-gray: black;
$color-background-dark-gray: #404040;
$color-light-gray: #bdbdbd;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

Style Attribute {
  --vh: 0.686rem;
}

button:focus {
  outline: 0px dotted;
}

.modul-theSecond {
  height: 100%;
  max-width: 550px;
}

.list-group {
  height: 100%;
  display: flex;
  width: 100%;
  background-color: #212529;
  border: 1px solid $color-dark-gray;
}

#global {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  align-items: center;
  border-bottom: 1px solid $color-dark-gray;
  column-gap: 2rem;
}

#region {
  height: 66rem;
  border-bottom: 1px solid $color-dark-gray;
  width: 100%;
  overflow: auto;
}

.blockOneCountry {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid $color-dark-gray;
  &:p {
    margin-left: 10rem;
    margin-bottom: 0rem;
  }
  &:hover {
	background-color: #4f4f4f;
	cursor: pointer;
  }
}

.cdr {
	line-height: 65px;
    font-size: 1.4rem;
    margin-right: 2rem;
    min-width: 9.5rem;
}

.propertiesCountry {
  &:p {
    margin-bottom: 0rem;
    font-weight: 400;
  }
}

.confirmed {
  color: #63aeff;
  margin-top: 1rem;
}

.deaths {
  color: #e60000;
}

.recovered {
  color: #70a800;
}
.confirmed,
.deaths,
.recovered {
  font-size: 1.2rem;
}

.perWhichTime {
  display: flex;
  justify-content: center;
}

#switch-amount {
  flex: 0;
  display: flex;
  justify-content: center;
  column-gap: 4px;
  align-items: center;
  padding: 5px;
}

#switch-amount p,
.global__buttons button p {
  font-size: 1.2rem;
  color: $color-light-gray;
}

#totalInTheCountry,
#basedOn100thdPopulation,
#perAllTime,
#perDay {
  height: 2.5rem;
  background-color: $color-black;
  border: none;
  border: 0.1rem solid $color-gray;
}

#perAllTime {
  margin-right: 10px;
}

#totalInTheCountry:hover,
#basedOn100thdPopulation:hover,
#perAllTime:hover,
#perDay:hover {
  height: 2.5rem;
  background-color: #1f1f1f;
  border: none;
  border-top: 0.1rem solid $color-gray;
  border-right: 0.1rem solid $color-gray;
  border-left: 0.1rem solid $color-gray;
  border-bottom: 0.2rem solid #2493f2;
  cursor: pointer;
}
#totalInTheCountry span,
#basedOn100thdPopulation {
  font-size: 1.2rem;
  color: $color-light-gray;
}

.addVisit {
  box-shadow: 0px 0px 5px 1px white;
}

#globalInfo {
  font-size: 1.7rem;
  font-weight: 400;
  margin-left: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

#globalAmount__confirmed,
#globalAmount__deaths,
#globalAmount__recovered {
  font-size: 1.6rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
  color: white;
}

.global__buttons {
  display: flex;
  row-gap: 1rem;
  margin: 5px 5px 0 0;
  flex-direction: column;
}

#findCountry {
	width: 21rem;
	height:  4.267rem;
	border-radius: 1rem;
	margin-left: 1rem;
	font-size: 1.3rem;
}

#searchCountry,
#cleanCountry {
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  border-radius: 3rem;
  border: 0.1rem solid $color-gray;
  cursor: pointer;
}

#cleanCountry:hover,
.fa-remove:hover,
#searchCountry:hover,
.fa-search:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.inputButtons {
  column-gap: 0.5rem;
  display: flex;
}

.global__mainInfo {
  min-width: 29rem;
}
#faClear {
  font-size: 1rem;
  color: red;
}
