@import "./mapGraph/map/App.css";
@import "./mapGraph/map/InfoBox.css";
@import "./mapGraph/map/Map.css";
@import "./mapGraph/map/Table.css";
@import "./mapGraph/map/leaflet.css";
@import "./assets/tableOne";
// === Mixins ===
@mixin font-main {
  font-family: "Roboto", sans-serif;
}
// === /Mixins ===

// === Common ===
:root {
  font-size: 10px;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  @include font-main;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  color: white;
  background-color: black;
}

main {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.container {
  height: 100%;
}

.row-container {
  overflow: auto;
}

// === Table ===
.table-container {
  flex: 1;
  font-size: 1.2rem;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid black;
  background-color: #212529;

  .table-1 {
    overflow: hidden;
    .thead {
      display: flex;
      justify-content: center;
      padding: 10px 0;

      .thead-container {
        display: flex;
        align-items: center;

        .table-title {
          font-size: 1.5rem;
          margin: 0;
          border: none;
        }
      }
    }

    .tbody {
      display: block;
      height: 100%;
      overflow: auto;
      overflow-x: hidden;

      .statistic-country {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        cursor: pointer;
      }

      // === scroll ===
      &::-webkit-scrollbar {
        width: 0.8rem;
      }

      &::-webkit-scrollbar-track {
        background: #404040;
      }

      &::-webkit-scrollbar-thumb {
        background: #5c5c5c;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      // === /scroll ===
    }

    .count-of-cases {
      font-size: 1.7rem;
      font-weight: bold;
      padding-left: 10px;
    }

    .country {
      vertical-align: inherit;
      text-align: center;
    }

    .country-flag {
      width: 30px;
    }
  }

  .search-input {
    padding: 10px 10px;
    font-size: 1.3rem;
    margin: 5px;
    border-radius: 10px;
  }
}

.btn {
  width: 0;
  height: 0;
  background: transparent;
  padding: 0;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(0.9);
  }
}

.btn-prev {
  border-style: solid;
  border-style: solid;
  border-width: 7.5px 15px 7.5px 0;
  border-color: transparent #007bff transparent transparent;
  margin-right: 10px;
}

.btn-next {
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  border-color: transparent transparent transparent #007bff;
  margin-left: 10px;
}
// === /Table ===

// === Card ===
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #212529;
  padding: 10px 0;

  .title {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-prev {
      margin-right: 10px;
    }
    .btn-next {
      margin-left: 10px;
    }
  }

  .info-numbers {
    font-size: 2rem;
    font-weight: bold;
  }
}
// === /Card ===

// === Footer ===
.footer {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;

  .info-container {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      &__img {
        width: 200px;

        &:hover {
          animation: shake 1.5s;
        }
      }
      .mentor {
        width: 300px;
      }

      &__text {
		  color: white;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}
// === /Footer ===

@media (max-width: 991px) {
  .table-container {
    .table-1 {
      .count-of-cases {
        font-size: 1.3rem;
      }
      .tbody {
        .statistic-country {
          padding: 5px;
        }
        &::-webkit-scrollbar {
          width: 5px;
        }
      }
    }
  }

  .footer {
    .info-container {
      .info {
        &__img {
          width: 100px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .xs-col {
    max-height: 510px;
  }
  .table-container {
    .table-1 {
      font-size: 2rem;
      .count-of-cases {
        font-size: 2rem;
      }
      .country-flag {
        width: 70px;
      }
    }
  }
}

[data-color="red"] {
  color: #e60000;
}

[data-color="black"] {
  color: black;
  text-shadow: 0px 0px 2px white;
}

[data-color="aqua"] {
  color: rgb(115, 178, 255);
}

[data-color="green"] {
  color: #70a800;
}

//  ===bootstrap-grid  ===
.container {
  display: flex;
}

.row {
  flex: 1;
}

.col,
[class*="col-"] {
  display: flex;
  border: 1px solid black;
}
// === /bootstrap-grid ===

.mapReact {
  width: 100%;
  flex: 1;
}
